<!DOCTYPE html>
<html>
<head>
    <title>NameGen</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet" type="text/css">
    <script src="https://unpkg.com/vuetify/dist/vuetify.min.js"></script>
</head>
<body>
<div id="namegen">
  <v-app>
    <v-container>
      <v-layout row>
        <v-flex xs12>
          <v-card>
            <v-card-title>
              <h4>Générateur de nom</h4>
            </v-card-title>
            <v-card-actions>

              <v-text-field type="text" v-model.trim="rootWord" required label="Rentrer une racine (ex: 'coif' pour coiffeur)"></v-text-field>
              <v-btn class="mb-4" @click="generateNameArray()">générer</v-btn>

            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
      <v-layout row class="mt-3" v-if="names.length > 0">
        <v-flex xs12>
          <v-card>
            <v-card-title>
              <h3>{{names.length}} noms ont été générés.</h3>
            </v-card-title>
            <v-card-text>
              <v-layout row v-for="name in names" class="mt-2">
                <v-flex xs6 offset-xs3>
                  <v-card>
                    <v-card-title>
                      <h4>{{ name }}</h4>
                    </v-card-title>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-app>
</div>
<script src="namegen.js"></script>
</body>
</html>
